@model WebApplication1.EntityModels.TeamMemberProject
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TeamMemberProject</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="teamMemberProjectForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamMemberId" class="control-label"></label>
               @*  <select asp-for="TeamMemberId" class ="form-control" asp-items="ViewBag.TeamMemberId"></select> *@
                <select name="selectedTeamMemberIds" id="teamMembers" multiple class="form-control">
                    @foreach (var member in (MultiSelectList)ViewBag.TeamMembers)
                    {
                        <option value="@member.Value">@member.Text</option>
                    }
                </select>


            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" id="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#teamMembers').select2({
                placeholder: "Select Team Members",
                allowClear: true,
                width: '100%'
            });

            $('#teamMemberProjectForm').submit(function (e) {
                e.preventDefault();
                debugger;
                const formData = {
                    ProjectId: $('#ProjectId').val(),
                    SelectedTeamMemberIds: $('#teamMembers').val()
                };

                $.ajax({
                    url: '@Url.Action("submiprojectmembers", "TeamMemberProjects")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function () {
                        alert('Saved successfully!');
                    },
                    error: function () {
                        alert('Error while saving.');
                    }
                });
            });


        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
