@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Product Management Sytem</h1>
    <div class="alert alert-info mt-3">
        <h4>🔧 Project Highlights</h4>
        <ul>
            <li>✅ Used <strong>Entity Framework Core</strong> for database operations with Code-First approach</li>
            <li>✅ Implemented <strong>AJAX</strong> for smooth client-side interactions and data submission without full page reloads</li>
            <li>✅ Applied <strong>DTO (Data Transfer Object)</strong> pattern to decouple ViewModels from Entity Models</li>
            <li>✅ Connected to <strong>Azure SQL Database</strong> for secure and scalable cloud-based data storage</li>
            <li>✅ Integrated <strong>Select2 multiselect dropdown</strong> for enhanced user experience on forms</li>
        </ul>
    </div>

</div>
